@import url(http://weloveiconfonts.com/api/?family=fontelico|zocial);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
	position: relative;
	font-family: 'Nanum Brush Script', serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 18px;
  margin-left: 30px;
}


.nav-pills {
	float: right;
}

.nav-item {
	font-size: 18px;
	color: white;
	margin-right: 50px;
}

.jumbotron {
	background: url("../img/back.jpg") no-repeat center center;
	background-size: cover;
	color: #FFFAF0;
	height: 800px;
	margin-bottom: 0px;
}

.jumbotron-text {
	margin-top: 160px;
}

.display-4 {
	line-height: 160%;
}

.view-project {
	width: 10%;
	margin: 5% auto;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#projects {
	background: url("../img/project.jpg") no-repeat center center;
	background-size: cover;
	font-family: 'Jeju Gothic', serif;

}

.card {
	width: 40%;
	margin: 0 auto ;
}

.card-img-top {
	max-width: 100%;
}

.footer {
	margin-top: 20px;
}